#jobModal {
    width: 350px;
    text-align: center;
  }
  
  #jobSubmitButton {
    background-color: blueviolet;
    color: white;
  }

  .exitButton {
    position: absolute !important;
    top: 10px;
    right: 10px;
  }